<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <httpRedirect enabled="false" destination="https://www.tengdingkang.top:44301" exactDestination="false" childOnly="false" httpResponseStatus="Found" />
    </system.webServer>
</configuration>
